<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', "{{.config.Key}}");
    _MEIQIA('clientId', 'finance'+"{{.member.Username}}");
    //传递yoghurt信息
    _MEIQIA('metadata', {
        name: "{{.member.RealName}}", // 美洽默认字段
        // address: '半人马座阿尔法星', // 美洽默认字段
        代理: "{{.agentName}}", // 自定义字段
        余额: "{{.member.Balance}}"/100, // 自定义字段
    });
    // 初始化成功后调用美洽 showPanel
    _MEIQIA('allSet', function(){
        _MEIQIA('showPanel');
    });
</script>